.no-bold{
    font-weight: normal;
}

body{
    background-color: white;
}
main{
    background-color: rgb(230, 244, 187);
    box-shadow: 0px 5px 7px 6px rgb(213, 213, 211);
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin: auto;
    max-width: 900px;
    min-width: 300px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    text-align: center;
    font-size: 20px;
}
.imagens{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
}
.filmes{
    text-align: center;
}
.audio-container {
    display: flex;
    align-items: center;
}
.audio-container h3 {
    margin-right: 10px;
}